# SAFE ENV VARS, RELEVANT FOR LOCAL DEVELOPMENT.
CONFIG_READONLY=0
DB_HOST=database
DB_USER=drupal8
DB_PASS=drupal8
DB_NAME=drupal8
DB_PREFIX=
DB_PORT=3306
DB_NAMESPACE=Drupal\Core\Database\Driver\mysql
DB_DRIVER=mysql
MIGRATE_SOURCE_DB_HOST=drupal7db
MIGRATE_SOURCE_DB_USER=drupal7
MIGRATE_SOURCE_DB_PASS=drupal7
MIGRATE_SOURCE_DB_NAME=drupal7
MIGRATE_SOURCE_DB_PREFIX=
MIGRATE_SOURCE_DB_PORT=3306
MIGRATE_SOURCE_DB_NAMESPACE=Drupal\Core\Database\Driver\mysql
MIGRATE_SOURCE_DB_DRIVER=mysql
REDIS_HOSTNAME=redis
REDIS_PORT=6379
SIMPLEI_ENV_COLOUR=#637C16
SIMPLEI_ENV_NAME=Local

# SENSITIVE ENV VARS. KEYS ONLY.
CONFIG_SYNC_DIRECTORY=
CSP_REPORTING_SUBDOMAIN=
FILE_PRIVATE_PATH=
HASH_SALT=
TEST_USER=
TEST_PASS=
TEST_D7_URL=
NW_TEST_USER_PREFIX=
GA_CLIENT_ID=
GA_CLIENT_SECRET=
GA_REDIRECT_URI=
GOOGLE_MAP_API_KEY=
GOOGLE_MAP_API_SERVER_KEY=
